{
  "openapi": "3.0.3",
  "info": {
    "title": "G-Portal Web API",
    "description": "OGC-compliant web services for searching and accessing JAXA Earth observation satellite products from missions including GCOM-W (AMSR2), GCOM-C (SGLI), and GSMaP precipitation products. Provides Catalog Services for the Web (CSW) for data search, Web Map Service (WMS) for image rendering, and Web Coverage Service (WCS) for raw coverage data retrieval.",
    "version": "1.0.0",
    "contact": {
      "name": "JAXA Satellite Applications and Operations Center",
      "url": "https://gportal.jaxa.jp/gpr/information/support?lang=en"
    },
    "license": {
      "name": "JAXA Intellectual Property Policy",
      "url": "https://global.jaxa.jp/about/ip_policy/index_e.html"
    }
  },
  "externalDocs": {
    "description": "G-Portal Web API Documentation",
    "url": "https://eolp.jaxa.jp/webapi/"
  },
  "servers": [
    {
      "url": "https://gpwos1.jaxa.jp",
      "description": "CSW Collection Search server"
    },
    {
      "url": "https://gportal.jaxa.jp",
      "description": "CSW Granule Search server"
    },
    {
      "url": "https://gpwmap.jaxa.jp",
      "description": "WMS and WCS map server"
    }
  ],
  "tags": [
    {
      "name": "CSW",
      "description": "Catalog Services for the Web - search satellite observation collections and granules"
    },
    {
      "name": "WMS",
      "description": "Web Map Service - retrieve map imagery from satellite datasets"
    },
    {
      "name": "WCS",
      "description": "Web Coverage Service - retrieve raw coverage/raster data from satellite datasets"
    }
  ],
  "paths": {
    "/examind/api/WS/csw/preview/opensearch": {
      "get": {
        "tags": ["CSW"],
        "summary": "Search satellite data collections",
        "description": "Performs an OpenSearch-based CSW collection search against JAXA satellite data holdings. Returns matching dataset collections based on text, spatial, and temporal filters.",
        "operationId": "searchCollections",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": true,
            "description": "OGC service type",
            "schema": {
              "type": "string",
              "enum": ["CSW"]
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "CSW protocol version",
            "schema": {
              "type": "string",
              "enum": ["3.0.0"]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-text search query for collection titles, abstracts, or keywords",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "description": "Bounding box spatial filter in format minLon,minLat,maxLon,maxLat",
            "schema": {
              "type": "string",
              "example": "130,30,145,45"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start of temporal filter range (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End of temporal filter range (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxRecords",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            }
          },
          {
            "name": "startPosition",
            "in": "query",
            "required": false,
            "description": "Starting position for pagination (1-based)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful collection search results",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string",
                  "description": "Atom feed containing matching collection records"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML response containing matching collection records"
                }
              }
            }
          }
        }
      }
    },
    "/csw/csw": {
      "get": {
        "tags": ["CSW"],
        "summary": "Search satellite data granules",
        "description": "Performs a CSW GetRecords request to search for individual satellite observation granules. Supports filtering by dataset, spatial extent, time range, and acquisition parameters.",
        "operationId": "searchGranules",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CSW"]
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["3.0.0"]
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["GetRecords"]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "description": "Spatial bounding box filter in format minLon,minLat,maxLon,maxLat",
            "schema": {
              "type": "string",
              "example": "130,30,145,45"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Temporal filter start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Temporal filter end date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "outputSchema",
            "in": "query",
            "required": false,
            "description": "Metadata output schema",
            "schema": {
              "type": "string",
              "enum": [
                "http://www.isotc211.org/2005/gmd",
                "http://www.opengis.net/cat/csw/3.0",
                "http://www.opengis.net/cat/csw/2.0.2",
                "http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/"
              ]
            }
          },
          {
            "name": "maxRecords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "startPosition",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful granule search results",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "CSW GetRecords response XML with matching granule metadata"
                }
              },
              "application/atom+xml": {
                "schema": {
                  "type": "string",
                  "description": "Atom feed response with matching granule metadata"
                }
              }
            }
          }
        }
      }
    },
    "/ows": {
      "get": {
        "tags": ["WMS", "WCS"],
        "summary": "OGC Web Services endpoint",
        "description": "Unified OGC endpoint supporting Web Map Service (WMS) and Web Coverage Service (WCS) operations. The operation performed depends on the 'service' and 'request' parameters.",
        "operationId": "owsRequest",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": true,
            "description": "OGC service type",
            "schema": {
              "type": "string",
              "enum": ["WMS", "WCS"]
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "description": "Operation to perform",
            "schema": {
              "type": "string",
              "enum": ["GetCapabilities", "GetMap", "GetFeatureInfo", "GetLegendGraphic", "GetCoverage"]
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Service version (WMS: 1.1.1 or 1.3.0; WCS: 1.0.0 or 2.0.1)",
            "schema": {
              "type": "string",
              "enum": ["1.1.1", "1.3.0", "1.0.0", "2.0.1"]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "description": "Layer name(s) for WMS GetMap and GetFeatureInfo requests",
            "schema": {
              "type": "string",
              "example": "GCOM-C_LST250m"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "description": "Bounding box for spatial extent in format minX,minY,maxX,maxY",
            "schema": {
              "type": "string",
              "example": "130,30,145,45"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Output image width in pixels",
            "schema": {
              "type": "integer",
              "example": 256
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Output image height in pixels",
            "schema": {
              "type": "integer",
              "example": 256
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format for map or coverage",
            "schema": {
              "type": "string",
              "enum": ["image/png", "GeoTIFF"],
              "default": "image/png"
            }
          },
          {
            "name": "crs",
            "in": "query",
            "required": false,
            "description": "Coordinate reference system (WMS 1.3.0)",
            "schema": {
              "type": "string",
              "enum": ["EPSG:4326", "CRS:84", "EPSG:3411"]
            }
          },
          {
            "name": "srs",
            "in": "query",
            "required": false,
            "description": "Spatial reference system (WMS 1.1.1 equivalent of crs)",
            "schema": {
              "type": "string",
              "enum": ["EPSG:4326", "CRS:84"]
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Temporal dimension filter in ISO 8601 format. Omitting returns most recent data.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-01-15T00:00:00Z"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "required": false,
            "description": "Style name for rendering. Use empty string for default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coverage",
            "in": "query",
            "required": false,
            "description": "Coverage identifier for WCS 1.0.0 GetCoverage",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coverageId",
            "in": "query",
            "required": false,
            "description": "Coverage identifier for WCS 2.0.1 GetCoverage",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "description": "Subset specification for WCS 2.0.1 (e.g. Long(130,145), Lat(30,45), time(2023-01-15T00:00:00Z))",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query_layers",
            "in": "query",
            "required": false,
            "description": "Layers to query for WMS GetFeatureInfo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X",
            "in": "query",
            "required": false,
            "description": "Pixel X coordinate for WMS GetFeatureInfo",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Y",
            "in": "query",
            "required": false,
            "description": "Pixel Y coordinate for WMS GetFeatureInfo",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "info_format",
            "in": "query",
            "required": false,
            "description": "Response format for WMS GetFeatureInfo",
            "schema": {
              "type": "string",
              "enum": ["text/plain", "text/html", "application/json"]
            }
          },
          {
            "name": "feature_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of features to return for GetFeatureInfo",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "layer",
            "in": "query",
            "required": false,
            "description": "Single layer name for WMS GetLegendGraphic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful OGC service response",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Map image (WMS GetMap or GetLegendGraphic)"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "Capabilities XML or GML response"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Feature info response in JSON format"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "GeoTIFF coverage data (WCS GetCoverage)"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Layer": {
        "type": "object",
        "description": "A G-Portal satellite data layer available through WMS and WCS",
        "properties": {
          "name": {
            "type": "string",
            "description": "Layer identifier"
          },
          "title": {
            "type": "string",
            "description": "Human-readable layer name"
          },
          "abstract": {
            "type": "string",
            "description": "Description of the dataset"
          },
          "temporalExtent": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    }
  }
}
